@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

html,
body {
  height: 100%;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 5px 25px 25px 25px;
  margin: 10px;
}

h1 {
  text-align: center;
}

button {
  border: 1px solid #2a5ea5;
  background-color: #21497f;
  color: white;
  padding: 10px 15px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #2a5ea5;
  }
}

.ngx-monaco-editor-container {
  height: 300px;
}

ngx-monaco-editor,
ngx-monaco-diff-editor {
  height: 100% !important;
  width: 100% !important;
}
